<div class="login container">
  <div class="login-content">
    <div class="login-branding">
      <img class="logo-icon" src="public/img/cx/cx_logo.svg" alt="ElasticStor 存储管理系统" />
      <div class="logo-wordmark" />
    </div>
    <div class="login-outer-box">
      <div class="login-inner-box" id="login-view">
        <form name="loginForm" class="login-form-group gf-form-group" ng-hide="disableLoginForm">
          <img src="public/img/cx/cx_login1.png" alt="" class="login-form-png">
          <div class="login-form">
            <input type="text" name="username" class="gf-form-input login-form-input" required ng-model='formModel.user' placeholder="用户名"
              autofocus autofill-event-fix>
          </div>
          <div class="login-form">
            <input type="password" name="password" class="gf-form-input login-form-input" required ng-model="formModel.password" id="inputPassword"
              placeholder="密码">
          </div>
          <div class="login-button-group">
            <button type="submit" class="btn btn-large p-x-2" ng-if="!loggingIn" ng-click="submit();" ng-class="{'btn-inverse': !loginForm.$valid, 'btn-primary': loginForm.$valid}">
              登录
            </button>
            <button type="submit" class="btn btn-large p-x-2 btn-inverse btn-loading" ng-if="loggingIn">
              登录<span>.</span><span>.</span><span>.</span>
            </button>
            <div class="small login-button-forgot-password" ng-hide="ldapEnabled || authProxyEnabled">
              <a href="user/password/send-reset-email">
                忘记密码?
              </a>
            </div>
          </div>
        </form>
        <div class="text-center login-divider" ng-show="oauthEnabled">
          <div>
            <div class="login-divider-line">
            </div>
          </div>
          <div>
            <span class="login-divider-text">
              <span ng-hide="disableLoginForm">或</span>
            </span>
          </div>
          <div>
            <div class="login-divider-line">
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="login-oauth text-center" ng-show="oauthEnabled">
          <a class="btn btn-medium btn-service btn-service--google login-btn" href="login/google" target="_self" ng-if="oauth.google">
            <i class="btn-service-icon fa fa-google"></i>
            用google账号登录
          </a>
          <a class="btn btn-medium btn-service btn-service--github login-btn" href="login/github" target="_self" ng-if="oauth.github">
            <i class="btn-service-icon fa fa-github"></i>
            用github账号登录
          </a>
          <a class="btn btn-medium btn-service btn-service--gitlab login-btn" href="login/gitlab" target="_self" ng-if="oauth.gitlab">
            <i class="btn-service-icon fa fa-gitlab"></i>
            用gitlab账号登录
          </a>
          <a class="btn btn-medium btn-service btn-service--oauth login-btn" href="login/generic_oauth" target="_self"
            ng-if="oauth.generic_oauth">
            <i class="btn-service-icon fa fa-sign-in"></i>
            用{{oauth.generic_oauth.name}}登录
          </a>
        </div>
        <div class="login-signup-box" ng-show="!disableUserSignUp">
          <div class="login-signup-title p-r-1">
            第一次使用该产品？
          </div>
          <a href="signup" class="btn btn-medium btn-signup btn-p-x-2">
            注册
          </a>
        </div>
      </div>
      <div class="login-inner-box remove hidden" id="change-password-view">
        <div class="text-left login-change-password-info">
          <h5>修改密码</h5>
          在您开始使用前，您需要通过更改密码来确保帐户安全。
          <br />您可以稍后再次更改密码。
        </div>
        <form class="login-form-group gf-form-group">
          <div class="login-form">
            <input type="password" id="newPassword" name="newPassword" class="gf-form-input login-form-input" required ng-model='command.newPassword'
              placeholder="新密码">
          </div>
          <div class="login-form">
            <input type="password" name="confirmNew" class="gf-form-input login-form-input" required ng-model="command.confirmNew" placeholder="确认密码">
          </div>
          <div class="login-button-group login-button-group--right text-right">
            <a class="btn btn-link" ng-click="skip();">
              跳过
              <info-popover mode="no-padding">
                如果您跳过，系统将会在您下次登录时提示更改密码。
              </info-popover>
            </a>
            <button type="submit" class="btn btn-large p-x-2" ng-click="changePassword();" ng-class="{'btn-inverse': !loginForm.$valid, 'btn-primary': loginForm.$valid}">
              保存
            </button>
          </div>
        </form>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
